<div class="container-fluid" th:fragment="UserTable" xmlns:th="http://www.w3.org/1999/xhtml">
    <table class="table ">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Documento</th>
            <th>Nombre</th>
            <th>Fecha de registro</th>

            <th>Opciones</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>Usuario 1</td>
            <td>usuario1@example.com</td>
            <td>usuario1@example.com</td><td>usuario1@example.com</td></tr>


        </tbody>
    </table>
</div>