<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"></span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group m-form__group row">

            <div class="col-lg-6">
                <label>Nombre 1 *</label>
                <input type="text" class="form-control m-input" placeholder="Ingrese nombre" onkeyup="ConvertText();" name="Name1" id="Name1" value="">
            </div>
            <div class="col-lg-6">
                <label>Nombre 2:</label>
                <input type="text" class="form-control m-input" placeholder="Ingrese segundo nombre" onkeyup="ConvertText();" name="Name2" id="Name2" value="">
            </div>

            <div class="col-lg-6">
                <label>Apellido 1 *</label>
                <input type="text" class="form-control m-input" placeholder="ingrese primer apellido" onkeyup="ConvertText();" name="LastName1" id="LastName1" value="">
            </div>
            <div class="col-lg-6">
                <label>Apellido 2:</label>
                <input type="text" class="form-control m-input" placeholder="ingrese segundo apellido" onkeyup="ConvertText();" name="LastName2" id="LastName2" value="">
            </div>
            <div class="col-lg-6">
                <label class=""> Documento*</label>
                <input class="form-control m-input" placeholder="ingrese número de documento" name="documentNumber" id="documentNumber" onkeyup="Alphanumeric(this)" type="text" value="">
            </div>
            <div class="col-lg-6">
                <label>Teléfono *</label>
                <input class="form-control m-input" id="phone" onchange="Alphanumeric(this);" placeholder="ingrese número celular" type="text" name="phone" value="">
            </div>
        </div></div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
    </div>
</div>