<div class="card" style="height: 100%;" xmlns:th="http://www.w3.org/1999/xhtml">
    <div style="margin: 3em 0 2em;" class="row justify-content-between">
        <div class="col-md-5 input-group mb-3 ">
            <input type="text" class="form-control" placeholder="Documento, nombre, id" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn" type="button" style="

">Buscar</button>
            </div>
        </div>
        <div class="col-md-1 input-group mb-3 ">

            <div class="input-group-append">
                <button class="btn " type="button" style="
    background-color: #3b4863;
    color: white !important;
    border: 1px solid #3b4863;
    border-radius: 5px;
">Nuevo</button>
            </div>
        </div></div>
    <div class="container-fluid" th:insert="~{fragments/HotelConfiguration/Users/UserTable :: UserTable}">
<!--     tabla-->
    </div>
</div>