body, html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;;
}

#container-main{
    margin: 2em 1em 0 18em;
    height: 100%;
}
body > div, #content-container > .card {
height: 100%;}

#content-container{
    margin-top: 2em;
    height: 100%;

}

.input-group-append > .btn{
    background-color: #3b4863;
    color: white !important;
    border: 1px solid #3b4863;
    border-radius:  0 5px 5px 0;}
