*{box-sizing: border-box;}
.flex-direction-column{
    flex-direction: column;
}

.circle_icon_aside{
   height: auto;
    width: auto;
    border: 0.5em solid white;
    box-shadow: inset 1px 2px 4px 6px #d8dcf7, 4px 5px 4px -2px #162389;
    background-color: white;
    border-radius: 50%;
    padding: 2em;
    position: relative;
    }


    .circle_icon_aside:after{
        content: "";
        border: 1px solid white;
        position: absolute;
        bottom: -15%;
        width: 100%;
        left: 0;
    }