
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="next-head-count" content="2" />
    <title>Hotel</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link th:href="@{css/main.css}" rel="stylesheet"/>
    <link th:href="@{css/slideMenu.css}" rel="stylesheet"/>
    <link th:href="@{/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/plugins/web-fonts/icons.css}" rel="stylesheet" />
    <link th:href="@{/plugins/web-fonts/font-awesome/font-awesome.min.css}" rel="stylesheet" />
    <link th:href="@{/plugins/web-fonts/plugin.css}" rel="stylesheet" />
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <link th:href="@{/plugins/select2/css/select2.min.css}" rel="stylesheet" />
    <link th:href="@{/plugins/multipleselect/multiple-select.css}" rel="stylesheet" />
    <link th:href="@{/switcher/css/switcher.css}" rel="stylesheet" />
    <link th:href="@{/switcher/demo.css}" rel="stylesheet" />
    <link th:href="@{/plugins/datatable/css/dataTables.bootstrap5.css}" rel="stylesheet" />
    <link th:href="@{/plugins/datatable/css/buttons.bootstrap5.min.css}" rel="stylesheet" />
    <link th:href="@{/plugins/datatable/css/responsive.bootstrap5.css}" rel="stylesheet" />
    <link th:href="@{/plugins/notify/css/notifIt.css}" rel="stylesheet" />
    <link th:href="@{/plugins/owl-carousel/owl.carousel.css}" rel="stylesheet" />
</head>
<body>
<div>
    <aside class="sticky" id="menu-container" th:insert="~{fragments/Menu :: menu}">
    </aside>
    <main id="container-main">
        <header class="card p-3">
            <div class="row">
                <h2 class="m-0">Configuracion</h2>
            </div>
        </header>
        <section id="content-container">
            <div class="card" style="height: 100%;">
                <div th:insert="~{fragments/HotelConfiguration/Users/UserPage :: UserPage}">

                </div>
            </div>
        </section>

    </main>

</div>
<script th:src="@{/plugins/jquery/jquery.min.js}"></script>
<script th:src="@{/plugins/bootstrap/js/popper.min.js}"></script>
<script th:src="@{/plugins/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
<script th:src="@{/plugins/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/plugins/notify/js/notifIt.js}"></script>
<script th:src="@{/plugins/datatable/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/plugins/datatable/js/dataTables.bootstrap5.js}"></script>
<script th:src="@{/plugins/datatable/dataTables.responsive.min.js}"></script>
<script th:src="@{/plugins/datatable/responsive.bootstrap5.min.js}"></script>
<script th:src="@{/plugins/owl-carousel/owl.carousel.js}"></script>
<script th:src="@{/js/custom.js}"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script>
    $("li.nav-item").click(function(){
        $("li.nav-item").not(this).children("ul").slideUp();
        $(this).children("ul").slideToggle();
    });
</script>
</script>
</body>
</html>
