
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="next-head-count" content="2" />
    <title>Hotel King</title>
    <link th:href="@{css/main.css}" rel="stylesheet"/>
    <link th:href="@{/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/plugins/web-fonts/icons.css}" rel="stylesheet" />
    <link th:href="@{/plugins/web-fonts/font-awesome/font-awesome.min.css}" rel="stylesheet" />
    <link th:href="@{/plugins/web-fonts/plugin.css}" rel="stylesheet" />
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <link th:href="@{/plugins/select2/css/select2.min.css}" rel="stylesheet" />
    <link th:href="@{/plugins/multipleselect/multiple-select.css}" rel="stylesheet" />
    <link th:href="@{/switcher/css/switcher.css}" rel="stylesheet" />
    <link th:href="@{/switcher/demo.css}" rel="stylesheet" />
    <link th:href="@{/plugins/datatable/css/dataTables.bootstrap5.css}" rel="stylesheet" />
    <link th:href="@{/plugins/datatable/css/buttons.bootstrap5.min.css}" rel="stylesheet" />
    <link th:href="@{/plugins/datatable/css/responsive.bootstrap5.css}" rel="stylesheet" />
    <link th:href="@{/plugins/notify/css/notifIt.css}" rel="stylesheet" />
    <link th:href="@{/plugins/owl-carousel/owl.carousel.css}" rel="stylesheet" />
</head>
<body>
<div>
    <div class="sticky">
        <div class="main-menu main-sidebar main-sidebar-sticky side-menu is-expanded ps">
            <div style="height: 40%;" class="d-flex justify-content-center align-items-center">
                <div class="circle_icon_aside">
                    <img src="/images/svg/hotel_icon.svg" alt="logo de hotel">
                </div>
            </div>
            <div class="main-sidebar-header main-container-1 active">
                <div class="main-sidebar-body main-body-1">
                    <div class="slide-left disabled active d-none" id="slide-left"><i class="fe fe-chevron-left"></i></div>
                    <ul class="menu-nav nav flex-direction-column">
                        <li class="nav-item">
                            <a class="nav-link with-sub" href="javascript:void(0)">
                                <span class="shape1"></span> <span class="shape2"></span><i class="ti-settings sidemenu-icon menu-icon"></i><span class="sidemenu-label">Configuración</span>
                                <i class="angle fe fe-chevron-right"></i>
                            </a>
                            <ul class="nav-sub">
                                <li class="side-menu-label1"><a href="javascript:void(0)">Crypto Currencies</a></li>
                                <li class="nav-sub-item"><a class="nav-sub-link" href="/settings/categorias">Categorias</a></li>
                                <li class="nav-sub-item"><a class="nav-sub-link" href="/settings/detalles">Detalles</a></li>
                                <li class="nav-sub-item"><a class="nav-sub-link" href="/settings/niveles">Niveles</a></li>
                                <li class="nav-sub-item"><a class="nav-sub-link" href="/settings/habitaciones">Habitaciones</a></li>
                                <li class="nav-sub-item"><a class="nav-sub-link" href="/settings/users">Usuarios</a></li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link with-sub" href="javascript:void(0)">
                                <span class="shape1"></span> <span class="shape2"></span><i class="ti-archive sidemenu-icon menu-icon"></i><span class="sidemenu-label">Despacho</span><i class="angle fe fe-chevron-right"></i>
                            </a>
                            <ul class="nav-sub">
                                <li class="nav-sub-item"><a class="nav-sub-link" href="/despacho/tags">Etiquetas</a></li>
                                <li class="nav-sub-item"><a class="nav-sub-link" href="/despacho/productos">Productos</a></li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link with-sub" href="javascript:void(0)">
                                <span class="shape1"></span> <span class="shape2"></span><i class="ti-wallet sidemenu-icon menu-icon"></i><span class="sidemenu-label">Caja</span><i class="angle fe fe-chevron-right"></i>
                            </a>
                            <ul class="nav-sub">
                                <li class="nav-sub-item"><a class="nav-sub-link" href="/caja">Mi caja</a></li>
                                <li class="nav-sub-item"><a class="nav-sub-link" href="/caja/arqueos">Arqueos</a></li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/contact"><span class="shape1"></span> <span class="shape2"></span><i class="ti-user sidemenu-icon menu-icon"></i><span class="sidemenu-label">Contacto</span></a>
                        </li>
                    </ul>
                    <div class="slide-right" id="slide-right"><i class="fe fe-chevron-right"></i></div>
                </div>
            </div>
        </div>
    </div>


</div>
<script th:src="@{/plugins/jquery/jquery.min.js}"></script>
<script th:src="@{/plugins/bootstrap/js/popper.min.js}"></script>
<script th:src="@{/plugins/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
<script th:src="@{/plugins/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/plugins/notify/js/notifIt.js}"></script>
<script th:src="@{/plugins/datatable/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/plugins/datatable/js/dataTables.bootstrap5.js}"></script>
<script th:src="@{/plugins/datatable/dataTables.responsive.min.js}"></script>
<script th:src="@{/plugins/datatable/responsive.bootstrap5.min.js}"></script>
<script th:src="@{/plugins/owl-carousel/owl.carousel.js}"></script>
<script th:src="@{/js/custom.js}"></script>

</script>
</body>
</html>
